{% extends "fancylayout.html" %}

{% block content %}
<head>
  <title> Our About Page!!!!!!!!!</title>
  </head>



<h1> Our About Page!!!!!!!!!</h1>
<body>
  <table border = "20" bordercolor = "blue" width="400"height="500">
        <thead>
            <tr bgcolor = "brown">
                <th>Name</th>
                <th>email</th>

            </tr>
        </thead>
        <tbody>
            <tr bgcolor = "yello">
                <td> <font color = "white">YI-ZHE,HONG</font></td>
                <td> <font color = "white">yhong@brandeis.edu</font></td>
            </tr>
            <tr bgcolor = "orange">
                <td>Siyu,Yang</td>
                <td>siyouyang@brandeis.edu</td>
            </tr>
    				<tr bgcolor = "purple" >
                <td>Colina,Qiao</td>
                <td>xqiao@brandeis.edu</td>
            </tr>
        </tbody>

    </table>
  <img src = “img/grouppicture.jpg” width = "300" height = "400"/>
  </body>

    {% endblock %}
